/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Playwrite+CO:wght@100..400&display =intercambiar');


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

ul,
ol {
    list-style: none;
}

:root {

    /* colores */
    --color-primario: #FF76CE;
    --color-secundario: #FDFFC2;
    --color-tercero: #FC819E;
    --color-cuarto: #F7418F;

    /* medidas */
    --space-medium: 20px;
    --space-small: 10px;
    --space-maximo: 1920px;


    /* gradiente */
    --gradiante-primario: radial-gradient(circle farthest-corner at 10% 20%, rgba(255, 229, 168, 1) 0%, rgba(251, 174, 222, 1) 100.7%);






    /* fuentes */
    --texto: "Playwrite CO";
    --titulo: "Josefin Sans";



}

.primero {
    height: auto;
    background: var(--color-primario);
    display: flex;
    gap: var(--space-medium);
    font-family: var(--titulo);
    align-items: center;
    justify-content: center;


}

.primero img {
    background: var(--color-primario);
    width: 100px;
    height: 100px;
    border: #FDFFC2 solid 3px;
    border-radius: 50%;



}

header nav {

    background: var(--color-secundario);
    text-align: var(--texto);
    display: flex;
    gap: var(--space-medium);
    justify-content: space-around;
    font-family: var(--texto);
}

.catalogo img {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    border: #F7418F solid 1.5px;
    justify-content: space-around;


}

.info-producto p {
    width: 150px;


}

.info-producto span {
    color: #F7418F;
}

.catalogo button {
    background: var(--color-primario);
    width: 150px;
    font-family: var(--texto);
    border-radius: 15px;
    border: #FC819E solid 3px;
    margin-bottom: 30px;



}

.catalogo {
    margin: var(--space-small);
    font-family: var(--texto);
    font-size: 10px;
    display: flex;
    flex-flow: wrap;
    column-gap: 30px;
    justify-content: space-evenly;


}
footer{
    background: #F7418F;
    height: 30px;
    width:var(--space-maximo)

}

/* Media Queris */
/* celulares */
@media screen and (max-width:480px) {
    .primero {
        background: auto;
    }


}


@media screen (min-whidth:481px)and (max-width:768px) {}


@media screen (min-whidth:769px) and (max-width:1024px) {}